.navbar {
    background-color: cadetblue;
    height: 100px;
    display: flex;
    align-items: center;
}


.navbar a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


.nav-left {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
    padding: 10px;
}

.nav-mid {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    padding: 10px;
}

.nav-right {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
    padding: 10px;
}

.nav-icon {
    font-size: 50px;
    cursor: pointer;
}

.nav-searchButton {
    background-color: grey;
    color: white;
}

.linkList {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 40px;
    font-size: 20px;
}

.nav-darkMode {
    cursor: pointer;
}