@import "../../Data/themeColorConfig.scss";

#theme-light {
    .navbar {
        background-color: $--theme-light-primary;
    }

    .nav-searchButton {
        background-color: $--theme-light-primary;
        color: $--theme-light-quaternary;
        border: 1px solid $--theme-light-quaternary;
    }

    .navbar a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: $--theme-light-quaternary;
    }
}

#theme-dark {
    .navbar {
        background-color: $--theme-dark-primary;
    }

    .nav-searchButton {
        background-color: $--theme-dark-primary;
        color: $--theme-dark-quaternary;
        border: 1px solid $--theme-dark-quaternary;
    }

    .navbar a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: $--theme-dark-quaternary;
    }
}

.navbar {
    height: 100px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    > div {
        padding: 10px;
    }
    .nav-icon {
        font-size: 50px;
        cursor: pointer;
    }

    .linkList {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 40px;
        font-size: 20px;
    }

    .nav-darkMode {
        cursor: pointer;
    }
}
