#theme-light {
    .navbar {
        background-color: #FCF8EC;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .nav-searchButton {
        background-color: #D0E8F2;
        color: #456268;
    }

    .navbar a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: #79A3B1;
    }
}

#theme-dark {
    .navbar {
        background-color: #180a0a;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .nav-searchButton {
        background-color: #711a75;
        color: #F10086;
    }

    .navbar a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: #F582A7;
    }
}

.nav-left {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
    padding: 10px;
}

.nav-mid {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    padding: 10px;
}

.nav-right {
    display: flex;
    flex: 0 0 35%;
    max-width: 35%;
    padding: 10px;
}

.nav-icon {
    font-size: 50px;
    cursor: pointer;
}

.linkList {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 40px;
    font-size: 20px;
}

.nav-darkMode {
    cursor: pointer;
}
