// dark //
$--theme-dark-primary: #0b0c10;
$--theme-dark-secondary: #1f2833;
$--theme-dark-tertiary: #c5c6c7;
$--theme-dark-quaternary: #66fcf1;
$--theme-dark-quinary: #45a29e;

// light //
$--theme-light-primary: #868974;
$--theme-light-secondary: #fecf99;
$--theme-light-tertiary: #fdfdfd;
$--theme-light-quaternary: #e9dac5;
$--theme-light-quinary: #fcaa66;
